.product-table {
    min-width: 75%;
    margin-top: -250px;
    margin-right: 200px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-table th,
.product-table td {
    padding: 12px 20px;
    text-align: left;
}

.product-table th {
    background-color: #27ae60;
    color: white;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tr:hover {
    background-color: #f1f1f1;
}

.edit-btn,
.delete-btn {
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #ffcd29;
    color: white;
    border: none;
}


.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

.delete-btn:hover {
    background-color: #e53935;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 90px;
    left: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #27ae60;
}

.submit-btn {
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #27ae60;
}