* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 50px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.cart img {
    height: 45px;
}